doctype html5
html
  head
    title A Happy Journey
    link(rel='stylesheet', href='styles/style.css')
  body
    .subject.center
      img.baby(src='http://media2.inktastic.com/thumbnail/251/519/80/80519251.1.png')
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
    .left.
      Left Thing
    .right.
      Right Thing
