doctype html5
html
  head
    title A Happy Journey
    style(type='text/css')
  body
    .subject
      img.baby(src='http://media2.inktastic.com/thumbnail/251/519/80/80519251.1.png')
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
    h2 Thing
